.MainCarrousel {
    display: flex;
}

.card-container {
    display: flex;
    width: 100vw;
    color: #E94E1B;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 450px;
    background-size: cover;

}

.card-footer {
    text-align: center;
    user-select: none;
    height: fit-content;
    z-index: 10000;

}


.card-footer p {
    color: white;
}