.container {
    position: sticky;
    background-color: #e94e1b;
    width: 100vw;
    display: flex;
    justify-content: right;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 1rem;
    padding-right: 5rem;
}

.container img {
    max-width: 22%;
    max-height: auto;
    margin-right: auto;
    padding-left: 1.5rem;
}